* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html,body {
height: 100%;
width: 100%;

}
#main {
    height: 100%;
    width: 100%;   
    display: flex;
    

}

#left {
width: 40%;
height: 100%;
position: relative;


}
#right {
width: 60%;
height: 100%;



}
#rtop {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;


}
#rbot {
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1504253492562-cbc4dc540fcb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease-in-out;
    border-radius: 0px 0px 0px 50px;
}
#rtop-l {
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1679678691002-cca4ae795169?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
}
#rtop-r {
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1519060825752-c4832f2d400a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lnav {
    display: flex;
    justify-content: space-between;
    padding: 20px;  
    align-items: center;
    margin-top: 10px;
    align-items: center;
}
#lnav-r {
    margin-right: 70px;
}
#lnav-r a {
    padding: 20px;
    font-weight: bold;
    
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
.ri-twitter-fill {
    color: royalblue;
}
#centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.5

}
#centered-text h1 {
font-weight: bold;
font-size: 70px;
}
#centered-text p {
    margin-bottom: 20px;
}
#centered-text a {
    color: black;
    opacity: 0.5;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 0;

    background-color: #000;
    height: 2px;
    top: 100%;

    transition: width 0.3s;
}
a:hover::before {
    width: 100%;
}




@media(max-width: 847px) {
    #main {
        display: flex;
        flex-direction: column;
    }
    #left {
        width: 100%;
        margin-bottom: 100px;
    }
    #right {
        width: 100%;
 
    }
    h1 {
        margin-top: 100px;
    }
}

.ri-arrow-left-line{
    border: 10px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease-in;

}
.ri-arrow-left-line:hover {
    cursor: pointer;

   background-color: rgb(199, 198, 198);
}

.ri-twitter-fill {
    font-size: 20px;
    transition: opacity 0.5s ease-in;
}
.ri-twitter-fill:hover {

opacity: 0.5;
cursor: pointer;
}